<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css" />
<link rel="stylesheet" href="/stylesheets/app.css" />
<div class="row">
  <div class="col-6 offset-3">
    <% if(currentUser && currentUser.isDark) { %>
    <h2 style="color: #fff">Edit your Comment</h2>
    <% } else { %>
    <h2>Edit your Comment</h2>
    <% } %>
    <form
      action="/posts/<%= post._id %>/reviews/<%= review._id %>?_method=PUT"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >

      <div class="mb-3">
        <% if(currentUser && currentUser.isDark) { %>
        <label style="color: #fff" class="form-label" for="body">Body:</label>
        <% } else { %>
        <label class="form-label" for="body">Body:</label>
        <% } %>
        <textarea
          class="form-control <%= currentUser && currentUser.isDark ? "bg-dark text-light" : "bg-light text-dark" %> "
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        >
<%= review.body %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button style="color: #fff" class="btn btn-warning">Update</button>
    </form>
  </div>
</div>
<script>
  const rating = <%= review['rating'] %>;
</script>
<script src="/javascripts/stars.js"></script>
<script>
  function isArabic(text) {
    var arabic = /[\u0600-\u06FF]/;
    result = arabic.test(text);
    return result;
  }

  const body = document.querySelector("#body");

  body.addEventListener("input", () => {
    if (isArabic(body.value)) {
      body.setAttribute("dir", "rtl");
    } else {
      body.setAttribute("dir", "ltr");
    }
  });
</script>
