<% layout("layouts/boilerplate") %>
<!-- <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <h1><%# user.firstName %> <%= user.lastName %></h1>
      <small>@<%# user.username %></small>
      <%# if (user.avatar.length) { %>
      <img
        style="width: 20rem; height: 20rem; border-radius: 50%"
        src="<%# user.avatar[0].url %>"
        alt="user profile image"
      />
      <%# } else { %>
      <img
        style="width: 20rem; height: 20rem; border-radius: 50%"
        src="https://res.cloudinary.com/dgzorrtut/image/upload/v1632932220/Community%20Rises/defaultUserPhoto_fdswcf.jpg"
        alt="no profile image"
      />
      <%# } %> <%# if(currentUser && user.equals(currentUser._id)) { %>
      <a href="/users/<%# user._id %>/edit"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-pencil"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
          /></svg
      ></a>
      <%# } %>
      <div class="caption">
        <a href="mailto:<%# user.email %>"><%# user.email %> </a>
      </div>
      <!-- <p><%# user.biography %></p> -->
<!-- </div>
  </div> -->
<%# if(currentUser && user.equals(currentUser._id)) { %> <%# } else { %>
<!-- <a href="/follow/<%# user.id %>"
    ><button class="btn btn-primary">Follow <%# user.username %></button>
  </a> -->
<%# } %>
<!-- </div> -->

<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-6 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 user-profile <%= user.colour %>">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img
                    class="img-radius"
                    src="<%= user.avatar[0].url %>"
                    alt="user profile photo"
                  />
                </div>
                <h6 class="f-w-600">Profile</h6>
                <p><%= user.firstName %> <%= user.lastName %></p>
                <% if(currentUser && user.equals(currentUser._id)) { %>
                <a href="/users/<%= user._id %>/edit">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil-square"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                    />
                  </svg>
                </a>
                <% } else { %>
                <a href="/follow/<%= user._id %>">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-person-plus-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
                    />
                  </svg>
                </a>
                <% } %> <% if(user.isReviewer) { %>
                <span class="icon"
                  ><svg
                    class="shield"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-shield-shaded"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 14.933a.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067v13.866zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"
                    /></svg
                ></span>
                <% } %> <% if(user.isYousuf) { %>
                <span class="icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="yin-yang"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M9.167 4.5a1.167 1.167 0 1 1-2.334 0 1.167 1.167 0 0 1 2.334 0Z"
                    />
                    <path
                      d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM1 8a7 7 0 0 1 7-7 3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 0 0 7 7 7 0 0 1-7-7Zm7 4.667a1.167 1.167 0 1 1 0-2.334 1.167 1.167 0 0 1 0 2.334Z"
                    />
                  </svg>
                </span>
                <% } %>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                  <% if(user.emailShown == true) { %>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">
                      <a href="mailto:<%= user.email %> "><%= user.email %></a>
                    </h6>
                  </div>
                  <% } %>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Username</p>
                    <h6 class="text-muted f-w-400">@<%= user.username %></h6>
                  </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Extras</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Admin</p>
                    <% if(user.isAdmin) { %>
                    <h6 class="text-muted f-w-400">Yes</h6>
                    <% } else { %>
                    <h6 class="text-muted f-w-400">No</h6>
                    <% } %>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Followers</p>
                    <h6 class="text-muted f-w-400">
                      <%= user.followers.length %>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
